<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.idatrix.metacube.metamanage.mapper.McMdHiveFieldMapper">
  <resultMap id="BaseResultMap" type="com.ys.idatrix.metacube.metamanage.domain.McMdHiveFieldPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="is_external_table" jdbcType="BIT" property="isExternalTable" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="fields_terminated" jdbcType="VARCHAR" property="fieldsTerminated" />
    <result column="lines_terminated" jdbcType="VARCHAR" property="linesTerminated" />
    <result column="null_defined" jdbcType="VARCHAR" property="nullDefined" />
    <result column="store_format" jdbcType="VARCHAR" property="storeFormat" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, is_external_table, `location`, fields_terminated, lines_terminated, null_defined, 
    store_format, creator, create_time, modifier, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_md_hive_field
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mc_md_hive_field
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ys.idatrix.metacube.metamanage.domain.McMdHiveFieldPO" useGeneratedKeys="true">
    insert into mc_md_hive_field (id, is_external_table, `location`, fields_terminated,
      lines_terminated, null_defined, store_format, 
      creator, create_time, modifier, 
      modify_time)
    values (#{id,jdbcType=BIGINT},#{isExternalTable,jdbcType=BIT}, #{location,jdbcType=VARCHAR}, #{fieldsTerminated,jdbcType=VARCHAR},
      #{linesTerminated,jdbcType=VARCHAR}, #{nullDefined,jdbcType=VARCHAR}, #{storeFormat,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective"  parameterType="com.ys.idatrix.metacube.metamanage.domain.McMdHiveFieldPO" >
    insert into mc_md_hive_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
      <if test="isExternalTable != null">
        is_external_table,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="fieldsTerminated != null">
        fields_terminated,
      </if>
      <if test="linesTerminated != null">
        lines_terminated,
      </if>
      <if test="nullDefined != null">
        null_defined,
      </if>
      <if test="storeFormat != null">
        store_format,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=BIGINT},
        </if>
        <if test="isExternalTable != null">
        #{isExternalTable,jdbcType=BIT},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="fieldsTerminated != null">
        #{fieldsTerminated,jdbcType=VARCHAR},
      </if>
      <if test="linesTerminated != null">
        #{linesTerminated,jdbcType=VARCHAR},
      </if>
      <if test="nullDefined != null">
        #{nullDefined,jdbcType=VARCHAR},
      </if>
      <if test="storeFormat != null">
        #{storeFormat,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ys.idatrix.metacube.metamanage.domain.McMdHiveFieldPO">
    update mc_md_hive_field
    <set>
      <if test="isExternalTable != null">
        is_external_table = #{isExternalTable,jdbcType=BIT},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=VARCHAR},
      </if>
      <if test="fieldsTerminated != null">
        fields_terminated = #{fieldsTerminated,jdbcType=VARCHAR},
      </if>
      <if test="linesTerminated != null">
        lines_terminated = #{linesTerminated,jdbcType=VARCHAR},
      </if>
      <if test="nullDefined != null">
        null_defined = #{nullDefined,jdbcType=VARCHAR},
      </if>
      <if test="storeFormat != null">
        store_format = #{storeFormat,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ys.idatrix.metacube.metamanage.domain.McMdHiveFieldPO">
    update mc_md_hive_field
    set is_external_table = #{isExternalTable,jdbcType=BIT},
      `location` = #{location,jdbcType=VARCHAR},
      fields_terminated = #{fieldsTerminated,jdbcType=VARCHAR},
      lines_terminated = #{linesTerminated,jdbcType=VARCHAR},
      null_defined = #{nullDefined,jdbcType=VARCHAR},
      store_format = #{storeFormat,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>