<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ys.idatrix.metacube.metamanage.mapper.ViewDetailMapper">
    <resultMap id="BaseResultMap" type="com.ys.idatrix.metacube.metamanage.domain.ViewDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="view_sql" property="viewSql" jdbcType="VARCHAR"/>
        <result column="arithmetic" property="arithmetic" jdbcType="VARCHAR"/>
        <result column="definiens" property="definiens" jdbcType="VARCHAR"/>
        <result column="security" property="security" jdbcType="VARCHAR"/>
        <result column="check_option" property="checkOption" jdbcType="VARCHAR"/>
        <result column="view_id" property="viewId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, view_sql, arithmetic, definiens, security, check_option, view_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from mc_view_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mc_view_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ys.idatrix.metacube.metamanage.domain.ViewDetail">
    insert into mc_view_detail (id, view_sql, arithmetic, 
      definiens, security, check_option, 
      view_id)
    values (#{id,jdbcType=BIGINT}, #{viewSql,jdbcType=VARCHAR}, #{arithmetic,jdbcType=VARCHAR}, 
      #{definiens,jdbcType=VARCHAR}, #{security,jdbcType=VARCHAR}, #{checkOption,jdbcType=VARCHAR}, 
      #{viewId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.ys.idatrix.metacube.metamanage.domain.ViewDetail">
        insert into mc_view_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="viewSql != null">
                view_sql,
            </if>
            <if test="arithmetic != null">
                arithmetic,
            </if>
            <if test="definiens != null">
                definiens,
            </if>
            <if test="security != null">
                security,
            </if>
            <if test="checkOption != null">
                check_option,
            </if>
            <if test="viewId != null">
                view_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="viewSql != null">
                #{viewSql,jdbcType=VARCHAR},
            </if>
            <if test="arithmetic != null">
                #{arithmetic,jdbcType=VARCHAR},
            </if>
            <if test="definiens != null">
                #{definiens,jdbcType=VARCHAR},
            </if>
            <if test="security != null">
                #{security,jdbcType=VARCHAR},
            </if>
            <if test="checkOption != null">
                #{checkOption,jdbcType=VARCHAR},
            </if>
            <if test="viewId != null">
                #{viewId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ys.idatrix.metacube.metamanage.domain.ViewDetail">
        update mc_view_detail
        <set>
            <if test="viewSql != null">
                view_sql = #{viewSql,jdbcType=VARCHAR},
            </if>
            <if test="arithmetic != null">
                arithmetic = #{arithmetic,jdbcType=VARCHAR},
            </if>
            <if test="definiens != null">
                definiens = #{definiens,jdbcType=VARCHAR},
            </if>
            <if test="security != null">
                security = #{security,jdbcType=VARCHAR},
            </if>
            <if test="checkOption != null">
                check_option = #{checkOption,jdbcType=VARCHAR},
            </if>
            <if test="viewId != null">
                view_id = #{viewId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ys.idatrix.metacube.metamanage.domain.ViewDetail">
    update mc_view_detail
    set view_sql = #{viewSql,jdbcType=VARCHAR},
      arithmetic = #{arithmetic,jdbcType=VARCHAR},
      definiens = #{definiens,jdbcType=VARCHAR},
      security = #{security,jdbcType=VARCHAR},
      check_option = #{checkOption,jdbcType=VARCHAR},
      view_id = #{viewId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <delete id="deleteByViewId">
        DELETE FROM mc_view_detail WHERE view_id = #{viewId,jdbcType=BIGINT}
    </delete>

    <select id="findByViewId" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM
        mc_view_detail WHERE view_id = #{viewId,jdbcType=BIGINT}
    </select>
</mapper>