.rowHeader{
   height: 200px;
    padding: 50px 0;
    border-bottom: 1px solid  #d7dee1;
}
.HeaderRow{
   height: 50px;
   line-height: 50px;
 }

.HeaderRow:hover{
  cursor: pointer;
}

.change .Col1{
    background: url("../../image/App/change_black.png") no-repeat center ;
}

.changeClick{
  background: #12b9d2;
  color: white;
}
.changeClick .Col1{
  background: url("../../image/App/change.png") no-repeat center ;
}

.control .Col1{
   background: url("../../image/App/flow_black.png") no-repeat center ;
 }

.controlClick{
  background: #12b9d2;
  color: white;
}
.controlClick .Col1{
  background: url("../../image/App/flow.png") no-repeat center ;
}
/*中间部分*/
.rowContent{
   padding: 15px 40px 15px 20px;
  border-bottom: 1px solid  #d7dee1;
}
/*状态*/
.status{
    margin: 10px 0;
}
.circle{
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


