.sider-wrap{
  position: relative;
  background-color: #fff;
  min-height: calc(100vh - 140px);
}
.tree-btns-wrap{
  margin-bottom:10px;
}
.tree-btn{
  margin:0 5px;
}
.tree-list{
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  max-height: 100%;
  overflow: auto;
}
