<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatrix.unisecurity.common.dao.PwdQuestionMapper">

    <resultMap id="BaseResultMap" type="com.idatrix.unisecurity.common.domain.PwdQuestion">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="question_num" property="questionNum" jdbcType="VARCHAR"/>
        <result column="question_name" property="questionName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, question_num, question_name
    </sql>

    <sql id="limit_sql">
        <if test="page_sql != null and page_sql != ''">
            ${page_sql}
        </if>
    </sql>

    <sql id="where_all">
        <where>
            <if test="findContent != null and findContent !='' ">
                and (
                LOWER(question_name) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")
                )
            </if>
        </where>
    </sql>

    <select id="getPwdQuestion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from idatrix_unisecurity_pwd_question
    </select>
</mapper>
