<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatrix.resource.subscribe.dao.SubscribeDbioDAO">
    <resultMap id="BaseResultMap" type="com.idatrix.resource.subscribe.po.SubscribeDbioPO">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="subscribe_id" property="subscribeId" jdbcType="BIGINT" />
        <result column="param_type" property="paramType" jdbcType="VARCHAR" />
        <result column="column_id" property="columnId" jdbcType="BIGINT" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="data_masking_type" property="dataMaskingType" jdbcType="VARCHAR" />
        <result column="data_start_index" property="dataStartIndex" jdbcType="INTEGER" />
        <result column="data_length" property="dataLength" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        id, subscribe_id, param_type, column_id, creator, create_time,
        modifier, modify_time,data_masking_type, data_start_index, data_length
    </sql>

    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rc_subscribe_dbio
        where id=#{id}
    </select>


    <select id="getBySubscribeIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rc_subscribe_dbio
        where subscribe_id=#{subscribeId}
        <if test="paramType!=null">
          and param_type=#{paramType}
        </if>

    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from rc_subscribe_dbio
        where id = #{id}
    </delete>



    <insert id="insert" parameterType="com.idatrix.resource.subscribe.po.SubscribeDbioPO" useGeneratedKeys="true" keyProperty="id">
        insert into rc_subscribe_dbio (
         id, subscribe_id, param_type, column_id, creator, create_time,
        modifier, modify_time, data_masking_type, data_start_index, data_length)
        values ( #{id}, #{subscribeId},
        #{paramType},#{columnId},
        #{creator}, #{createTime}, #{modifier}, #{modifyTime},
        #{dataMaskingType}, #{dataStartIndex}, #{dataLength})
    </insert>


    <update id="updateById" parameterType="com.idatrix.resource.subscribe.po.SubscribeDbioPO">
        update rc_subscribe_dbio
        set id = #{id},
        subscribe_id = #{subscribeId},
        param_type = #{paramType},
        column_id = #{columnId},
        creator = #{creator},
        create_time = #{createTime},
        modifier = #{modifier},
        modify_time = #{modifyTime},
        data_masking_type =#{dataMaskingType},
        data_start_index = #{dataStartIndex},
        data_length = #{dataLength}
        where id = #{id}
    </update>
</mapper>