<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="iDatrixConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %-5p [%t] %logger{36} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="iDatrixConsole" />
		</Root>
	</Loggers>
</Configuration>
