.ToolsTitle{
  height: 60px;
  line-height: 60px;
  background: white;
  color: #54585B;
  width: 200px;
  display: block;
  clear: both;
}

.control{
   background: url("../../image/design/control.png") no-repeat center;
}
.developing{
  background: url("../../image/design/develop.png") no-repeat center;
}
