<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatrix.resource.webservice.dao.ServiceLogDAO">
    <resultMap id="BaseResultMap" type="com.idatrix.resource.webservice.po.ServiceLogPO">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
        <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
        <result column="service_code" property="serviceCode" jdbcType="VARCHAR" />
        <result column="caller_dept_id" property="callerDeptId" jdbcType="BIGINT" />
        <result column="caller_dept_code" property="callerDeptCode" jdbcType="VARCHAR" />
        <result column="caller_dept_name" property="callerDeptName" jdbcType="VARCHAR" />
        <result column="exec_time" property="execTime" jdbcType="INTEGER" />
        <result column="is_success" property="isSuccess" jdbcType="INTEGER" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, service_name, service_type, service_code, caller_dept_id, caller_dept_code, caller_dept_name, exec_time,
        is_success, creator, create_time, modifier, modify_time
    </sql>

    <insert id="insertServiceLogPO" parameterType="com.idatrix.resource.webservice.po.ServiceLogPO"             useGeneratedKeys="true" keyProperty="id">
         insert into rc_service_log
         (service_name, service_type, service_code, caller_dept_id, caller_dept_code,
         caller_dept_name, exec_time, is_success, creator, create_time, modifier, modify_time)
             values
             (#{serviceName}, #{serviceType}, #{serviceCode}, #{callerDeptId}, #{callerDeptCode},
             #{callerDeptName}, #{execTime}, #{isSuccess}, #{creator},
             #{createTime}, #{modifier}, #{modifyTime})
    </insert>
</mapper>