<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatrix.resource.webservice.dao.SubscribeDbioDAO">
    <resultMap id="BaseResultMap" type="com.idatrix.resource.webservice.po.SubscribeDbioPO">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="subscribe_id" property="subscribeId" jdbcType="BIGINT" />
        <result column="param_type" property="paramType" jdbcType="VARCHAR" />
        <result column="column_id" property="columnId" jdbcType="BIGINT" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, subscribe_id, param_type, column_id, creator, create_time,
        modifier, modify_time
    </sql>



    <select id="getBySubscribeIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rc_subscribe_dbio
        where subscribe_id=#{subscribeId}
        <if test="paramType!=null">
          and param_type=#{paramType}
        </if>

    </select>

</mapper>