.centerList {
  width: 100%;
}
.ant-card-head {
  display: none;
}
.centerBord {
  display: flex;
  justify-content: center;
  height: 70px;
  border-bottom: solid 1px #ccc;
}
.HeadOverall {
  color: #73bafe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerSize {
  font-size: 20px;
  margin: 14px 0px 11px 15px;
}
.TopmarginTop {
  margin-top: 16px;
}
.topSize {
  font-size: 20px;
  color: #3eb3ff;
}
.centerDiv {
  background: #fff;
  height: 95px;
  width: 100%;
  margin: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.centerIcon {
  font-size: 27px;
  height: 62px;
  width: 35%;
  line-height: 55px;
  border-radius: 0rem 0rem 4rem 0rem;
}
.centerLable {
  font-size: 1.1rem;
  height: 60px;
  width: 25%;
  margin-left: 7%;
  position: relative;
  top: 15%;
}
/* .centerDiv:focus{
    color: #fff;
    background: #000;
}*/
.bottomTest {
  border: 1px solid #ccc;
  height: 265px;
  border-bottom: 4px solid #4481de;
  margin: 10px 1px 1px 34px;
}
.bottomTime {
  color: #ccc;
  margin: 10px;
}
.bottomTitle {
  color: #1088e9;
  font-size: 15px;
  margin: 20px;
  overflow: hidden;
  height: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bottomText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  width: 80%;
  margin: 0px 0px 0px 22px;
  color: #858585;
}
.bottomBotton {
  position: relative;
  text-align: center;
  top: 8%;
}
.BaseCase {
  color: red;
  margin: 2px 15px 0px 1px;
}
